@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background: #163056;
    --text-color: #fff;
    --text-light: #ccc;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 20px;
    background-color: rgba(28, 69, 135, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.privacy-policy-container {
    max-width: 95%;
}

.language-toggle {
    text-align: right;
    position: relative;
    right: 0;
    top: 0;
}

button {
    color: var(--text-light);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.4;
}

.intro p {
    color: var(--text-light);
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        max-width: 95%;
    }
}
