@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background: #163056;
    --text-color: #fff;
    --text-light: #ccc;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    body {
        font-size: 16px; /* Slightly smaller font size on smaller screens */
    }
}
