---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <div class="container bigger-container">
        <h1 class="text-center text-3xl font-bold mb-4">Imprint</h1>
        <p>Imprint text goes here...</p>
    </div>
</MainLayout>
