---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <div class="container text-center">
        <h1 class="text-3xl font-bold mb-4">Imprint</h1>
        <p class="mb-2">Maximilian Neßlauer</p>
        <p class="mb-2">maximiliannesslauer@gmail.com</p>
    </div>
</MainLayout>
