---
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maximilian Neßlauer</title>
</head>
<body>
    <Header />

    <main style="min-height: calc(100vh - 120px);">
    </main>

    <Footer />
</body>
</html>
../components/Header.jsx