---
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maximilian Neßlauer</title>
    <meta name="description" content="Maximilian Neßlauer's personal website showcasing projects and skills in computer science and software development.">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Maximilian Neßlauer - Computer Science Student">
    <meta property="og:description" content="Explore Maximilian Neßlauer's website.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://https://www.maxi-n.tech/">
    <meta property="og:site_name" content="Maximilian Neßlauer's Website">

    <!-- Twitter -->
    <meta name="twitter:site" content="@Maxi_Nesslauer">
    <meta name="twitter:title" content="Maximilian Neßlauer - Computer Science Student">
    <meta name="twitter:description" content="Explore Maximilian Neßlauer's website">

    <meta name="author" content="Maximilian Neßlauer, maxi@yourwebsite.com">
    <meta name="keywords" content="Maximilian Neßlauer, Computer Science, Portfolio, Software Developer, Projects">
</head>
<body>
    <Header />

    <main style="min-height: calc(100vh - 120px); padding: 20px;">
        <section class="intro">
            <p>Hello! I'm Maxi, a 19-year-old Computer Science student passionate about solving real-world problems using technology.
                My journey in programming started with a friend showing me his projects and introducing me to Codecademy
                and TeamTreehouse.
            </p>
        </section>
    </main>

    <Footer />
</body>
</html>