---
// src/pages/privacy-policy.astro
import MainLayout from '../layouts/MainLayout.astro';
import LanguageToggle from '../components/LanguageToggle.tsx';
---

<MainLayout>
    <div class="container privacy-policy-container">
        <LanguageToggle client:visible />
    </div>
</MainLayout>
