---
import "../styles/skills.css"
---


<section id="skills" class="section">
    <div class="container">
        <h2 class="text-2xl font-bold mb-2">My Skills</h2>
        <ul class="skills-list">
            <li><i class="fab fa-python"></i> Python</li>
            <li><i class="fab fa-java"></i> Java</li>
            <li><i class="fab fa-c"></i> C</li>
            <li><i class="fab fa-js-square"></i> JavaScript</li>
            <li><i class="fab fa-html5"></i> HTML</li>
            <li><i class="fab fa-css3-alt"></i> CSS</li>
        </ul>
    </div>
</section>