---
import "../styles/socialLinks.css";
---

<section id="contact" class="section">
    <div class="container">
        <h2 class="text-center text-2xl font-bold mb-2">Contact</h2>
        <p class="text-center padding mb-4">Let's connect! Feel free to reach out to me on any of these platforms:</p>
        <div class="social-icons flex justify-center items-center text-3xl space">
            <a href="https://github.com/Maximilian-Nesslauer" target="_blank" rel="noopener" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/maximilian-ne%C3%9Flauer-545075186/" target="_blank" rel="noopener" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/Maxi_Nesslauer" target="_blank" rel="noopener" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</section>